block layout-header
  div.banner-area
    div.container
      div.row
        div.col-12
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded
            a(href="").navbar-brand Avisinai
            button(typ="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
              span.navbar-toggler-icon

            div.collapse.navbar-collapse#navbar
              ul.navbar-nav.ml-auto
                li.nav-item
                  a(href="").nav-link.nav_link Home

                li.nav-item.dropdown.menu-area
                  a(href="" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle.nav_link Consulting

                  div(aria-labelledby="mega-one").dropdown-menu.mega-area
                    div.row
                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Talent
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Global Talent
                          li
                            a(href="").dropdown_li_a Talent Platform

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Methodologies
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a How We Work
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Agile
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a DevOps
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Security
                          li
                            a(href="").dropdown_li_a Partners

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Resources
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Blog
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Case Studies
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Guides & Research
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a White Papers
                          li
                            a(href="").dropdown_li_a Open Source

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Technology
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Talent Platform
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a StartupGDL
                          li
                            a(href="").dropdown_li_a AvisinaiFund

                li.nav-item.dropdown.menu-area
                  a(href="" id="mega-two" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle.nav_link Solutions

                  div(aria-labelledby="mega-two").dropdown-menu.mega-area
                    div.row
                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Agile Development
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Digital Platforms
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Web & Mobile
                          li
                            a(href="").dropdown_li_a OTT

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Data & AI
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a AI / ML
                          li
                            a(href="").dropdown_li_a Data Science

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head DevOps
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a DevOps Transformation
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Cloud Ops
                          li
                            a(href="").dropdown_li_a Training & Workshops
                      div.col-sm-6.col-lg-3
                        h5.dropdown_head Design
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a UX Design
                          li
                            a(href="").dropdown_li_a Workshops

                      div.col-sm-6.col-lg-3
                        h5.dropdown_head.dropdown_head_security Security
                        ul.dropdown_ul
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Our Approach
                          li.dropdown_ul_li
                            a(href="").dropdown_li_a Application Security
                          li
                            a(href="").dropdown_li_a Compliance & Privacy

                li.nav-item
                  a(href="").nav-link.nav_link About

                li.nav-item
                  a(href="").nav-link.nav_link Contact