extends layout

block layout-content
	div.main_body
		div.Banner
			h3.banner_caption Engineering a better <br />tomorrow

		div.section_2
			h3.section_2_h Transformative technology, on-demand

			p.section_2_p Wizeline provides end-to-end software development for Fortune 500 companies. We partner with product leaders to modernize their core technology and create engaging digital experiences. Work with us to capture new markets, disrupt business models, and leverage your data.

			a(href="").section_2_button Learn More

		div.section_3
			div.container
				section.customer-logos.slider
					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")

					div.slide
						img(src="/img/caro_logo.png", alt="")
							

		div.section_4
			h3.section_4_h3 100M+ people use products designed & developed <br />by our team
			
			div.container_container
				ul#autoWidth.cs-hidden
					li.item-a#container_container_li
						div.container_container_box
							p.marvel Web & App Development
							div.details
								p.details_p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim, modi, at fugit similique quia odit nisi earum perspiciatis laborum, pariatur voluptatem quisquam reprehenderit vel quas, reiciendis autem accusamus cum.

					li.item-a#container_container_li
						div.container_container_box
							p.marvel Data Science
							div.details
								p.details_p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim, modi, at fugit similique quia odit nisi earum perspiciatis laborum, pariatur voluptatem quisquam reprehenderit vel quas, reiciendis autem accusamus cum.

					li.item-a#container_container_li
						div.container_container_box
							p.marvel Artificial Intelligence
							div.details
								p.details_p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim, modi, at fugit similique quia odit nisi earum perspiciatis laborum, pariatur voluptatem quisquam reprehenderit vel quas, reiciendis autem accusamus cum.

					li.item-a#container_container_li
						div.container_container_box
							p.marvel Security
							div.details
								p.details_p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim, modi, at fugit similique quia odit nisi earum perspiciatis laborum, pariatur voluptatem quisquam reprehenderit vel quas, reiciendis autem accusamus cum.

					li.item-a#container_container_li
						div.container_container_box
							p.marvel Product Strategy & Ux Design
							div.details
								p.details_p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim, modi, at fugit similique quia odit nisi earum perspiciatis laborum, pariatur voluptatem quisquam reprehenderit vel quas, reiciendis autem accusamus cum.

		div.section_5
			div.container
				div.row
					div.col-md-6.section_5_col_md_6
						img(src="/img/section_img_icon.svg", alt="").section_5_img
						h1.section_5_h1 Join Avisinai
						p.section_5_p We're always looking for top engineers, designers, and data scientists from around the globe to build innovative products. Tackle some of the world’s most interesting technical challenges for global media brands, sports clients, startups, and more.
						
						div.section_5_col_md_6_a_work_hire_button
							a(href="").section_5_button Work at Avisinai
					div.col-md-6.section_5_col_md_6
						img(src="/img/section_img_right_icon.svg", alt="").section_5_img
						h1.section_5_h1 Build with Avisinai
						p.section_5_p We help both Fortune 500 companies and startups achieve faster innovation cycles by delivering development solutions with high impact. Partner with us to guide your digital strategy, tap into new technologies, or implement DevOps practices.
						
						div.section_5_col_md_6_a_work_hire_button
							a(href="").section_5_button Hire Us

		div.section_6