block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Avisinai
    link(rel="stylesheet", href="/css/bootstrap_4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/mediaquery.css")
    link(rel="stylesheet" href="/css/fonts/font.css")
    link(rel="stylesheet", href="/css/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/infinite-slider.css")
    link(rel="stylesheet", href="/css/lightslider.css")
  body

    include partials/header

    div#root
      block layout-content


    script(src='/js/jquery-3.4.1.min.js')
    script(src='/css/bootstrap_4/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js")
    script(src='/js/product_slider.js')
    script(src='/js/carousel.js')
    script(src='/js/lightslider.js')